# BiciMAD Data Project
## Trends of usage and station states

### Idea of Project
We start scraping the data from the BiciMAD API that gives the current station status per call. 
Then run this job on a AWS server or home server and add the information to a database and then visualize the data in a dashboard. 

With time we can apply machine learning models to the data to find insights about the bike usage. 

Timeframe = 1 year

In [ ]:
#Import libraries to use
import json
import requests
import pandas as pd
import datetime

In [ ]:
credentials = json.loads(open("credentials.json").read()) # Credentials are stored in a separate file
url = 'https://rbdata.emtmadrid.es:8443/BiciMad/get_stations' #URL to get stations for all data

The Web API works as  URL/idClient/passKey and gets the xml data back. this is why we create 2 variables with the cliend ID and the passKey (so that it's not hardcoded in the example) so we can concatenate the string into the whole URL. We would've used the auth parameter if the BiciMAD API required it

In [ ]:
a = "/" + credentials['idClient']

In [ ]:
b = "/" + credentials['passKey']

In [ ]:
response = requests.get(url+a+b) # Here we make the data requests to get the state of all stations.

In [ ]:
response.status_code # 200 means OK

The file is a bit of a XML mess that's not taken well with parsers. luckily the request library tries to parse it as a json but we need to move some data around

In [ ]:
data = response.json()['data'] # This parses it as a json but then it has only 1 main key which is 'data'

In [ ]:
test1 = json.loads(data) # Here we tried to grab only the data under 'data' and parse it as a dict

As we need a dictionary file to try and create a dataframe from it, we iterate over the elements in test1 and put them into a dictionary with an index key from enumerate

In [ ]:
mydict = {}
for i, result in enumerate(test1['stations']):
    mydict[i+1] = result

In [ ]:
df = pd.DataFrame.from_dict(mydict,orient='index') # We create the data frame with the orient='index'

The next part is just to create a datetime element at the time of creation (timestamp) and then create columns based on Year, Month, Day, Hour and Minute to do some analysis later

In [ ]:
df['timestamp'] = datetime.datetime.now()
df['year'] = datetime.datetime.now().year
df['month'] = datetime.datetime.now().month
df['day'] = datetime.datetime.now().day
df['hour'] = datetime.datetime.now().hour
df['minute'] = datetime.datetime.now().minute

In [ ]:
df # Just to check the dataframe on a Notebook

In [ ]:
df.info() # No null values in the Dataframe

Once our Dataframe is ready we append it to a table in PSQL

In [ ]:
from sqlalchemy import create_engine
import psycopg2
#psqlcred = json.loads(open("psqlpass.json").read()) # Credentials are stored in a separate file

In [ ]:
# This is for In house Database
#engine = create_engine('postgresql://' + psqlcred['psqluser'] + ':' + psqlcred['psqlpass'] + '@192.168.1.124:5432/BiciMAD_Data')
# This is for AWS RDS Database
engine = create_engine('postgresql://daguito81:bicimadpsqlpass@bicimaddb.cwcem9e1dsk4.eu-west-1.rds.amazonaws.com:5432/bicimaddb')

In [ ]:
# Uncomment the next line to write to the database (WARNING: This should not be done from this file, use batch file)
#df.to_sql('bicimaddata', engine, if_exists='append')

### Here we try to pull the data from PostgreSQL and make a new dataframe

In [1]:
#Import libraries to use
import json
import requests
import pandas as pd
import datetime
from sqlalchemy import create_engine
import psycopg2

In [2]:
engine = create_engine('postgresql://username:password@awspsqladdress:5432/bicimaddb')
newdf = pd.read_sql_table('bicimaddata', con = engine)

In [3]:
newdf.tail()

,index,longitude,light,latitude,total_bases,reservations_count,activate,id,dock_bikes,name,no_available,number,address,free_bases,timestamp,year,month,day,hour,minute
1214143,56,-3.7008803,0,40.4089282,24,0,1,57,0,Plaza de Lavapiés,0,53,Calle Valencia nº 1,23,2018-06-11 09:45:03.116133,2018,6,11,9,45
1214144,57,-3.7004230,2,40.4266828,21,0,1,58,12,Barceló,0,54,Calle Barceló nº 7,9,2018-06-11 09:45:03.116133,2018,6,11,9,45
1214145,58,-3.7020842,0,40.4239757,24,0,1,59,3,Plaza de San Ildefonso,0,55,Plaza de San Ildefonso nº 3,20,2018-06-11 09:45:03.116133,2018,6,11,9,45
1214146,59,-3.7032414,2,40.4184192,24,0,1,60,14,Plaza del Carmen,0,56,Plaza del Carmen nº 1,10,2018-06-11 09:45:03.116133,2018,6,11,9,45
1214147,60,-3.7126299,0,40.4295658,24,1,1,61,7,Santa Cruz del Marcenado,0,57,Calle Santa Cruz del Marcenado nº 24,16,2018-06-11 09:45:03.116133,2018,6,11,9,45

In [4]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1214148 entries, 0 to 1214147
Data columns (total 20 columns):
index                 1214148 non-null int64
longitude             1214148 non-null object
light                 1214148 non-null int64
latitude              1214148 non-null object
total_bases           1214148 non-null int64
reservations_count    1214148 non-null int64
activate              1214148 non-null int64
id                    1214148 non-null int64
dock_bikes            1214148 non-null int64
name                  1214148 non-null object
no_available          1214148 non-null int64
number                1214148 non-null object
address               1214148 non-null object
free_bases            1214148 non-null int64
timestamp             1214148 non-null datetime64[ns]
year                  1214148 non-null int64
month                 1214148 non-null int64
day                   1214148 non-null int64
hour                  1214148 non-null int64
minute                1214148 non-null int64
dtypes: datetime64[ns](1), int64(14), object(5)
memory usage: 185.3+ MB

In [9]:
# newdf['timestamp'].value_counts().sort_index()

In [10]:
len(newdf)/172

7059.0

In [11]:
len(newdf['timestamp'].value_counts().sort_index())

7059

In [12]:
timelapsed = newdf['timestamp'].value_counts().sort_index().index[-1] - newdf['timestamp'].value_counts().sort_index().index[0]

In [13]:
print("Time running: ")
print(timelapsed.days, " Days")
print(round(timelapsed.seconds/60/60, 2), " Hours")
print(round(timelapsed.seconds/60, 2), " Minutes")

Time running:
4  Days
21.7  Hours
1301.98  Minutes

In [14]:
print("Start: ", newdf['timestamp'].value_counts().sort_index().index[0])
print("End: ", newdf['timestamp'].value_counts().sort_index().index[-1])

Start:  2018-06-06 14:39:03.332711
End:  2018-06-11 12:21:02.860988

In [15]:
timelapsed

Timedelta('4 days 21:41:59.528277')

In [34]:
str(datetime.datetime.now())

'2018-06-11 14:36:18.516490'

In [35]:
newdf.to_csv(str(datetime.datetime.now().date()) + '-' + 'newdf.csv', index=False)

#### The point of this script is to leave this running every minute for a long time to start collecting data from the BiciMAD API, Then after a certain ammount of data, grab the entire data set and perform EDA and visualizations on it. Another idea is to create a dashboard that can view this data in real time